Linkedin Posting Automation Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1856,
        496
      ],
      "id": "fc1e08fb-bbd1-4bce-ba47-8b275a77a8f7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1456,
        768
      ],
      "id": "c2c47d20-30d1-4cfc-a317-ccabe6c78482",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yAgRh43vWmwUFL94",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=Generate an interesting image for a LinkedIn post based on the content provided below\n\nPost Content: {{ $('Edit Fields').item.json['Post Content'] }}\n\n1. IMAGE STYLE GUIDELINES (Choose the best fit based on analysis)\nIf possible, use some cartoons with some texts. Try to be a little creative here\n\n2. TECHNICAL SPECIFICATIONS\nAspect Ratio: 1:1 (Square) or 4:5 (Vertical) for maximum mobile real estate.\n\nQuality: Photorealistic, no distorted limbs or text gibberish.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -32,
        64
      ],
      "id": "c4ccae95-8fa7-461c-966e-c2569513f71b",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "EonW9a9C7EoA7wCS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -312,
        872
      ],
      "id": "e604d60d-4eab-48de-9210-a886bab1185b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "yAgRh43vWmwUFL94",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs",
          "mode": "list",
          "cachedResultName": "Linkedin Posting Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1632,
        500
      ],
      "id": "4489d093-56fb-482f-918f-8c6b0909eee2",
      "name": "Pick one post idea ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05QaNV8XDndjogSF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "prashanth7840@gmail.com",
        "subject": "Approval for LinkedIn post",
        "message": "=Generated Post: {{ $json['Post Content'] }}\n\n\n---------------------------\n\nPost Idea: {{ $('Pick one post idea ').item.json['Post Idea'] }}\n\n---------------------------\n\nInstructions: {{ $('Pick one post idea ').item.json.Instructions }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes - Approve"
                  },
                  {
                    "option": "No - Revise"
                  },
                  {
                    "option": "Cancel Post"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Any Changes would like to see",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -832,
        352
      ],
      "id": "8fd25a3a-b531-4737-b5a6-9aeb5129f297",
      "name": "Send for Human Review",
      "webhookId": "5a29f9f4-958c-4026-b540-66e2667b0f8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Tzfh8b6YsTFPzMzA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data['Do you approve?'] }}",
                    "rightValue": "Yes - Approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eaff5923-e510-4881-984a-7a5b74f34c02"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6228e73b-17ee-411b-8fda-781c0861efc9",
                    "leftValue": "={{ $json.data['Do you approve?'] }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Revise"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b344e28e-5bae-4d78-96db-7ea86922eb8b",
                    "leftValue": "={{ $json.data['Do you approve?'] }}",
                    "rightValue": "Cancel",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -608,
        336
      ],
      "id": "f3805df1-262e-4b39-8e23-feda79ba0ead",
      "name": "Check Human Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb1a2e28-a6bb-42a0-8c4a-0a505678a55f",
              "leftValue": "={{ $('Pick one post idea ').item.json['Generate Image (Yes/No)'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        160
      ],
      "id": "b9515cfc-21e9-4425-ba5d-2007f2c4f273",
      "name": "Needs Image?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs",
          "mode": "list",
          "cachedResultName": "Linkedin Posting Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Pick one post idea ').item.json.row_number }}",
            "Status": "Cancelled"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Post Idea",
              "displayName": "Post Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instructions",
              "displayName": "Instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate Image (Yes/No)",
              "displayName": "Generate Image (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        352
      ],
      "id": "7da286dd-aa40-41a1-8d22-c224a0cf0b59",
      "name": "Update to Cancelled",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05QaNV8XDndjogSF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "person": "rM__2FJGFu",
        "text": "={{ $('Edit Fields').item.json['Post Content'] }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        192,
        64
      ],
      "id": "5a6fb845-19be-43f3-9cd5-d6cb2023192d",
      "name": "Create Image + Text Post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Fr6ZMS6TPkT3gNBw",
          "name": "LinkedIn account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs",
          "mode": "list",
          "cachedResultName": "Linkedin Posting Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6bRa06u4CvRtvy_ZyCfiTEAUBNvGcbEXHiOJi8YfOs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Pick one post idea ').item.json.row_number }}",
            "Status": "Completed",
            "Post ID": "={{ $json.urn }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Post Idea",
              "displayName": "Post Idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instructions",
              "displayName": "Instructions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generate Image (Yes/No)",
              "displayName": "Generate Image (Yes/No)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        160
      ],
      "id": "3c7fca4c-11b1-4f5c-86ae-4dcd6333c31e",
      "name": "Update to Completed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "05QaNV8XDndjogSF",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "person": "rM__2FJGFu",
        "text": "={{ $('Edit Fields').item.json['Post Content'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        192,
        256
      ],
      "id": "e7dbe8ff-2889-4126-96f3-a348d00715f1",
      "name": "Create Text Post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Fr6ZMS6TPkT3gNBw",
          "name": "LinkedIn account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### ROLE\nYou are a Master LinkedIn Editor and Content Strategist. Your job is to take an existing high-performing LinkedIn post and refine it based on specific user feedback without losing the \"human-generated\" feel and punchy rhythm.\n\n### THE INPUTS\n- ORIGINAL POST: \n{{ $('Basic LLM Chain').item.json.text }}\n\n- USER FEEDBACK: \n{{ $('Send for Human Review').item.json.data['Any Changes would like to see'] }}\n\n### REVISION RULES (STRICT ADHERENCE)\n1. NO REGRESSION: Do not let the post become \"corporate\" or \"bland.\" Maintain the \"Pattern Interrupt\" hook and the \"Slippery Slide\" formatting (lots of white space).\n2. APPLY FEEDBACK PRECISELY: If the user asks for a specific fact, tone shift, or CTA change, implement it exactly.\n3. THE \"SAME\" OVERRIDE: If the user’s feedback suggests keeping the post as is (e.g., \"no changes,\" \"looks good,\" \"keep the same\"), output the original [Post Content] exactly as provided.\n4. STRIP AI-ISMS: If the user's request introduces generic words like \"synergy,\" \"unlock,\" or \"landscape,\" swap them for punchier, human alternatives.\n5. FORMATTING: Ensure no paragraph is longer than 2 lines. Keep the total length under 1300 characters.\n\n### FINAL OUTPUT INSTRUCTIONS\n- Output ONLY the final LinkedIn post. \n- Do NOT include any \"Here is your updated post\" or \"I have applied the changes.\"\n- Do NOT use markdown code blocks or headings.\n- Just provide the raw text, ready to be published.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -384,
        656
      ],
      "id": "145c431e-0a18-4ae0-a3f3-a7858698fb4a",
      "name": "Regenerate Post content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c4f3919-df59-4948-b843-6eddffb9e762",
              "name": "Post Content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        496
      ],
      "id": "5d9d975d-b495-40bc-90a1-55db2f62959d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Idea: {{ $json['Post Idea'] }}\n\n Instructions: {{ $json.Instructions }}",
        "messages": {
          "messageValues": [
            {
              "message": "=### ROLE You are a world-class LinkedIn Ghostwriter for high-growth Founders and Thought Leaders. Your specialty is \"Scroll-Stopping\" content that builds authority without looking like it was written by an AI or a PR firm. And, also something that is fun to read and people might either giggle or want to share with others.  ### THE GOAL Create a LinkedIn post based on the user's input that looks 100% human, generates high engagement, and forces the reader to click \"See More.\"  ### WRITING STYLE GUIDELINES (STRICT ADHERENCE) 1. NO \"AI-ISMS\": Avoid words like \"In today’s fast-paced world,\" \"Unlock,\" \"Transformative,\" \"Tapestry,\" \"Hustle,\" or \"Revolutionize.\" 2. PUNCHY RHYTHM: Use a mix of short and very short sentences. Avoid long, complex paragraphs.  3. WHITE SPACE: Never more than 2 lines of text per paragraph. Use white space to create a \"slippery slide\" effect. 4. THE HOOK: The first sentence must be a \"Pattern Interrupt.\" It should be a bold claim, a counter-intuitive truth, or a specific result.  5. NO FLUFF: Get straight to the point. If a sentence doesn't add value or tension, delete it. 6. TONE: Assertive, slightly opinionated, yet empathetic. Speak like a practitioner, not a lecturer.  ### POST STRUCTURE - The Hook: (1 sentence) To stop the scroll. - The Re-Hook: (1 sentence) To provide context/tension. - The Meat: (3-5 bullet points or short sentences) The \"How-to\" or the \"Value.\" - The Insight: (1 sentence) The \"Aha!\" moment. - The Call to Action (CTA): A low-friction question or a specific instruction (e.g., \"Connect for more\"). - 3 lowercase hashtags.  ### CONSTRAINTS - Max 1300 characters. - Output ONLY the post. No \"Here is your post\" or markdown code blocks.  - Give me well formatted output that can be posted on Linkedin, feel free to use bullet points, etc. - Very limited emojis only if required - When putting points or list items, use bullet symbol '•' for each list item - No em-dashes, use regular dash like this '-'"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1424,
        512
      ],
      "id": "dbcd75e6-05cd-4ef1-84cc-f230090612e7",
      "name": "Basic LLM Chain"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pick one post idea ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Create Image + Text Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Regenerate Post content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pick one post idea ": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for Human Review": {
      "main": [
        [
          {
            "node": "Check Human Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Human Response": {
      "main": [
        [
          {
            "node": "Needs Image?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regenerate Post content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update to Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Image?": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Text Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image + Text Post": {
      "main": [
        [
          {
            "node": "Update to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Text Post": {
      "main": [
        [
          {
            "node": "Update to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regenerate Post content": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send for Human Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df571486-f70f-413b-a46f-87f3583d1d16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f08f11cb0ed7eb249436344f2eb140ff31bf8fb8f9e7ebd4c3ab75c7a9098f5"
  },
  "id": "j507EGBetyIvPfir",
  "tags": []
}